services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: saferoute-backend
    env_file: .env
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: saferoute-frontend
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    restart: always

  nginx:
    image: nginx:latest
    container_name: saferoute-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
      - frontend
    restart: always
